- title_helper "Edit CV #{@cv.identifier}"

- form_for(@cv) do |f|
  = f.error_messages
  %p
    = f.submit "Update"
    = link_to 'Cancel', cvs_path
%br
%p= link_to 'Destroy', @cv, :confirm => 'Are you sure?', :method => :delete
    
-# link_to 'Show', @cv
