- title_helper "New CV"

- form_for(@cv) do |f|
  = f.error_messages
  = @cv.person.name
  = f.hidden_field :person_id
  %br
  = render :partial => 'cv', :locals => {:f => f}
  %p
    = f.submit "Create"
    = link_to 'Cancel', cvs_path
