
%h1 Listing activities

%table 
  - for activity in @activities
    %tr 
      %td= link_to 'Show', show_activity_path(activity.class.name.downcase, activity.identifier)
      %td= link_to 'Edit', edit_activity_path(activity.class.name.downcase, activity.identifier)
      %td= link_to 'Destroy', destroy_activity_path(activity.class.name.downcase, activity.identifier), :confirm => 'Are you sure?', :method => :delete

%ul
  %li= link_to 'New grant', new_activity_path(:activity_type => "grant")
  %li= link_to 'New publication', new_activity_path(:activity_type => "publication")
  %li= link_to 'New presentation', new_activity_path(:activity_type => "presentation")
  %li= link_to 'New service', new_activity_path(:activity_type => "service")

