- title_helper "New #{@klass_name.singularize}"

- form_for(@klass_name.singularize, @activity) do |f|
  = f.error_messages
  = render :partial => @klass_name.singularize, :locals => {:f => f}
  %p 
    = f.submit "Create"
    = link_to 'Cancel', activities_path
    
