- title_helper "New #{@klass_name.singularize}"

- form_for(:activity, @activity) do |f|
  = f.error_messages
  = @activity.person.name
  = f.hidden_field :person_id
  %br
  = render :partial => @klass_name.singularize, :locals => {:f => f}
  %p 
    = f.submit "Create"
    = link_to 'Cancel', activities_path
    
